body{
    background-color: #000;
}

h1, h2{
    color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: #CCC;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}